.idea
config.core.php
rename_it.php
/modExtra/
/.phpunit.result.cache
/config.core.php
/rename_it.php
/ht.access
/index.php
/phpunit.phar
/_build/
/manager/
/connectors/
/core/export/
/core/components/ovenpars23/
/core/config/
/core/import/
/core/docs/
/core/model/
/core/lexicon/
/core/components/pdotools/
/core/error/
/core/ht.access
/core/xpdo/
/core/cache/
/core/packages/
/assets/components/pdotools/
